* {
    font-family: 'Times New Roman', sans-serif;
}

body {
    background: lightgray;
    padding: 20px;
}

h1 {
    text-align: center;
    background-color: black;
    color: white;
    margin-bottom: 5px;
    padding: 5px;
    
}

.recipe {
    background-color: rgb(236, 200, 200);
    margin: 0;
}
a {
    font-size: 18px;
}

a:hover {
    color: red;
    font-size: 24px;
}

img {
    width: 100%;
}

li {
    line-height: 1.5;
}

.recipe-card {
    width: 600px;
    text-align: center;
    background-color: white;
    margin: 20px auto;
    padding: 50px;
}